.footer {
  margin-top: 12.7rem;
  margin-bottom: 3rem;
  &__content {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.7rem;
    letter-spacing: 0rem;
  }
}
